<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h2>Welcome to QuotingDojo!</h2>
    <br>
    <form action="/quotes/add" method="POST">
        Your Name: <input type="text" name="name"><br>
        <br>
        Your Quote: <textarea name="quote" rows="4" cols="45"></textarea><br>
        <br>
        <button type="submit">Add my Quote!</button>
    </form>
    <br>
    <a href="/quotes"><button>To the Quotes</button></a>
</body>
</html>